version: '3'

services:
  app:
    image: grafana-image-publisher
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports: 
      - 3000:3000
    env_file: ./.env
    volumes: 
      - ./config.json:/root/config.json